/*------------------------------------------------------
    GLOBAL STYLES
------------------------------------------------------*/
img{
    width: 300px;
}

body{
    background-color: black;
    color: white;
}

/*------------------------------------------------------
    PROFILE
------------------------------------------------------*/
/* .profile{
    background-color: black;
} */

.profile img{
    width: 200px;
}

.profile h1{
    text-align: center;
    font-size: 50px;
}

/*------------------------------------------------------
    EDUCATION
------------------------------------------------------*/
.education{
    background-color: goldenrod;
    color: black;
}

/*------------------------------------------------------
    WORK EXPERIENCE
------------------------------------------------------*/
.work-experience{
    background-color: darkolivegreen;
}

/*------------------------------------------------------
    PROJECTS
------------------------------------------------------*/
.projects{
    background-color: brown;
}

/*------------------------------------------------------
    CONTACT INFO
------------------------------------------------------*/
.contact-info{
    background-color: red;
    /* color: black; */
}