/*------------------------------------------------------
    GLOBAL STYLES
------------------------------------------------------*/
img{
    width: 300px;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
}

h2{
    text-align: center;
    margin: 0;
}
.content-wrap{
    width: 950px;
    margin: 0 auto;
    padding: 60px 0;
}

/*------------------------------------------------------
    PROFILE
------------------------------------------------------*/
/* .profile{
    background-color: black;
} */

.profile img{
    width: 200px;
}

.profile h1{
    text-align: center;
    font-size: 50px;
}

.profile a, .profile a:visited{
    color: antiquewhite;
    background-color: blue;
    padding: 8px;
    border-radius: 4px;
}

.profile a:hover{
    color: greenyellow;
    background-color: black;
    border-radius: 4px;
    border: 5px;
    border-style: dotted;
    border-color: white;
}

/*------------------------------------------------------
    EDUCATION
------------------------------------------------------*/
.education{
    background-color: goldenrod;
    color: black;
}

.education h3 + p {
    font-style: italic;
}

.education h3 ~ p {
    margin: 0;
}

/*------------------------------------------------------
    WORK EXPERIENCE
------------------------------------------------------*/
.work-experience{
    background-color: darkolivegreen;
}

.job-item{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

.job-details h3 + p {
    font-style: italic;
}

.job-details h3 ~ p {
    margin: 0;
}

/*------------------------------------------------------
    PROJECTS
------------------------------------------------------*/
.projects{
    background-color: black;
}

/*------------------------------------------------------
    CONTACT INFO
------------------------------------------------------*/
footer{
    background-color: goldenrod;
    color: black;
}
.contact-list{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contact-list a:visited{
    text-decoration: none;
    text-decoration-color: none;
}

/*------------------------------------------------------
    RESPONSIVE
------------------------------------------------------*/
/* @media screen and (min-width:750px){

} */

@media screen and (max-width: 749px){
    .profile h1 {
        text-align: left;
    }

    .content-wrap h2 {
        text-align: left;
    }

    .content-wrap {
        width: 100vw;
    }

    .job-item, .contact-list {
        display: grid;
        grid-template-columns: 1fr;
    }

    .contact-list img{
        width: 24px;
        height: 24px;
    }
}